<h1 class="about"><u><i>About the Creator</i></u></h1>

<div class="headshot-container" align="center">
    <%= image_tag('propic.jpg', :height => "25%", :width => "25%") %>
</div>

<br>

<div align="center">
    <p>My name is Steven Firestone, and wait....why on earth am I doing this again....?</p>
    <br />
    <p>Seriously, I've already done enough "About Me" stuff.  Go to <a href="http://stevenfirestone.me"><i>this website</i></a> if you really want to know more.*</p>
    <br />
    <p>As for the name of this app, go read some Superman comics!</p>
</div>